* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #f9f5eb;
  --secondary-color: #ea5455;
  --tertiary-color: #e4dccf;
  --primary-color-transparent: rgb(249, 245, 235, 0.5);
  --tertiary-color-transparent: rgb(228, 220, 207, 0.5);
  --accent-color: #002b5b;
  --hover-color: rgb(231, 152, 146, 0.5);
  --dark-color: #141414;

  --general-font: "Cormorant Garamond", sans-serif, serif;
  --heading-font: "DM Serif Display", serif;
  --main-content-font: "Gowun Dodum", sans-serif;

  --left-sidebar-width: 23rem;
  --empty-photo-url: url("/src/assets/image/camera.svg");
  --user-photo-url: var(--empty-photo-url);
  --current-uploaded-ph: var(--empty-photo-url);
}

body {
  max-height: 100vh;
  overflow-y: hidden;
  background-color: var(--primary-color);
  display: flex;
  background-color: #f9f5eb;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%23ea5455' fill-opacity='0.4' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
}

main {
  display: flex;
  width: 100%;
}

.hidden {
  display: none;
}

#dynamic-content {
  width: 100%;
  height: 100%;
}
