
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #F9F5EB;
    --secondary-color: #EA5455;
    --tertiary-color: #E4DCCF;
    --accent-color: #002B5B;
    --hover-color: rgb(231, 152, 146, 0.5);

    --general-font: "Cormorant Garamond", sans-serif, serif;
    --heading-font: "DM Serif Display", serif;;
}

body {
    background-color: var(--primary-color);
}