#left-sidebar {
  flex: none;
  width: var(--left-sidebar-width);
  height: 100vh;
  background-color: var(--secondary-color);
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 7%;
  transition: transform 0.3s ease-in-out;
}

#left-sidebar.collapsed {
  transform: translate(-100%);
}

#left-sidebar::after {
  position: fixed;
  content: "";
  width: var(--left-sidebar-width);
  height: 100%;
  background-color: var(--secondary-color);
  top: 0;
  left: 0;
  z-index: 1;
}

#user-preview,
#options,
#projects {
  z-index: 10;
}

#left-sidebar h2,
#left-sidebar p {
  font-family: var(--general-font);
  color: var(--primary-color);
  line-height: 1.2;
}

#user-preview {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 1.3fr 1fr;
  gap: 0 1%;
}

.full-name {
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-weight: bolder;
  grid-column: 2;
  align-self: end;
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  white-space: nowrap;
}

.username {
  grid-column: 2;
  font-size: 1.5rem;
  font-weight: 400;
}

.username::before {
  content: "@";
}

.photo-circle {
  width: 85%;
  grid-row: 1 / -1;
  border-radius: 100%;
  aspect-ratio: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  cursor: pointer;
  user-select: none;
}

.photo-circle:not(.empty) .photo-preview {
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: var(--current-uploaded-ph);
  border-radius: 100%;
  aspect-ratio: 1;
}

.photo-circle.empty {
  background-color: var(--primary-color);
}

.photo-circle.empty .photo-preview {
  width: 50%;
}

#projects > div,
.option {
  width: 100%;
  border-radius: 0.6rem;
  display: flex;
  padding: 2% 7%;
  align-items: center;
  gap: 5%;
  user-select: none;
}

.option {
  overflow: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  white-space: nowrap;
  cursor: pointer;
}

.option::-webkit-scrollbar {
  display: none;
}

.add.project > img,
.projects-collapse > img,
.option > img {
  width: 13%;
  height: auto;
  filter: brightness(0) saturate(100%) invert(100%) sepia(21%) saturate(671%)
    hue-rotate(341deg) brightness(106%) contrast(94%);
}

.projects-collapse > p,
.option > p,
.project {
  font-size: 2.3rem;
  font-weight: 500;
}

.option:hover,
.option.selected {
  background-color: var(--hover-color);
}

#projects {
  margin-top: 5%;
  margin-bottom: auto;
}

.projects-collapse {
  display: flex;
  justify-content: space-between;
}

.projects-collapse img {
  transition: transform 0.2s ease-in-out;
}

.projects-collapse.collapsed img {
  transform: rotate(0);
}

.projects-collapse > img {
  transform: rotate(-90deg);
}

.project {
  display: flex;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
  margin-top: 3%;
}

.projects-collapse.collapsed + .user-projects > .add.project,
.projects-collapse.collapsed + .user-projects > div {
  opacity: 0;
  transition: opacity 0.2s ease;
}

.projects-collapse {
  cursor: pointer;
}

#projects > .user-projects {
  display: flex;
  flex-direction: column;
}

#projects .projects-collapse.collapsed + .user-projects > .project {
  cursor: auto;
}

.user-projects > .add.project {
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.9rem;
  font-weight: bold;
  border: 2px solid var(--hover-color);
  border-radius: 0.6rem;
  padding: 1% 2% 1% 3%;
  margin-left: 7%;
  align-self: flex-start;
  width: 65%;
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 1;
  cursor: pointer;
}

.add.project > img {
  width: 2.3rem;
  transition: transform 0.3s ease;
}

.add.project:hover > img {
  transform: rotate(90deg);
}

.add.project:hover,
.add.project.clicked {
  width: 70%;
}

.add.input {
  width: 100%;
  outline: none;
  border: none;
  background-color: var(--secondary-color);
  font-size: 1.9rem;
  font-weight: bold;
  font-family: var(--general-font);
  color: var(--primary-color);
}

input::placeholder {
  color: var(--hover-color);
}

.project-warning {
  padding: 0.5rem 0;
  width: 85%;
  font-size: 1.25rem;
  line-height: 1;
  font-weight: 400;
}

#sidebar-collapse {
  --sbc-width: 7rem;
  --sbc-height: var(--sbc-width);
  width: var(--sbc-width);
  height: var(--sbc-height);
  position: fixed;
  aspect-ratio: 1;
  width: var(--sbc-width);
  flex: none;
  background-color: var(--hover-color);
  left: calc(var(--left-sidebar-width) - (var(--sbc-width) / 1.8));
  top: calc(50% - (var(--sbc-height) / 2));
  border-radius: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  padding-right: 0.5rem;
  cursor: pointer;
  user-select: none;
  z-index: 0;
}

#sidebar-collapse > img {
  width: 35%;
  transform: rotate(90deg);
  filter: brightness(0) saturate(100%) invert(40%) sepia(54%) saturate(1385%)
    hue-rotate(323deg) brightness(97%) contrast(88%);
  transition: transform 0.3s ease-in-out;
}

#left-sidebar.collapsed #sidebar-collapse > img {
  transform: rotate(270deg);
}

.hidden {
  display: none;
}
