:root {
  --prior-1-clr: #087e8b;
  --prior-2-clr: #ff9f1c;
  --prior-3-clr: #650d1b;

  --prior-1-filter: brightness(0) saturate(100%) invert(34%) sepia(94%)
    saturate(427%) hue-rotate(137deg) brightness(96%) contrast(97%);
  --prior-2-filter: brightness(0) saturate(100%) invert(80%) sepia(24%)
    saturate(6301%) hue-rotate(343deg) brightness(100%) contrast(102%);
  --prior-3-filter: brightness(0) saturate(100%) invert(14%) sepia(52%)
    saturate(1856%) hue-rotate(321deg) brightness(95%) contrast(109%);
}

.task {
  width: 100%;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--primary-color);
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.task[data-priority="1"],
.task[data-priority="1"] .task-check {
  border: 2px solid var(--prior-1-clr);
}

.task[data-priority="2"],
.task[data-priority="2"] .task-check {
  border: 2px solid var(--prior-2-clr);
}

.task[data-priority="3"],
.task[data-priority="3"] .task-check {
  border: 2px solid var(--prior-3-clr);
}

.task-check {
  aspect-ratio: 1;
  width: 1.3rem;
  height: auto;
  border-radius: 0.25rem;
  background-color: var(--hover-color);
}

.task[data-priority="0"] .task-check:hover,
.task[data-priority="0"][data-completed="1"] .task-check,
.sub.task[data-completed="1"] .task-check {
  background-color: var(--secondary-color);
}

.task[data-priority="1"] .task-check:hover,
.task[data-priority="1"][data-completed="1"] .task-check {
  background-color: var(--prior-1-clr);
}

.task[data-priority="2"] .task-check:hover,
.task[data-priority="2"][data-completed="1"] .task-check {
  background-color: var(--prior-2-clr);
}

.task[data-priority="3"] .task-check:hover,
.task[data-priority="3"][data-completed="1"] .task-check {
  background-color: var(--prior-3-clr);
}

.sub.task[data-completed="1"] p,
.task[data-completed="1"] h2 {
  text-decoration: line-through 2px;
  font-style: italic;
}

.due-date {
  margin-left: auto;
}

.sub.task {
  width: 100%;
  display: flex;
  cursor: default;
}

.sub.task .delete {
  margin-left: auto;
  cursor: pointer;
}

.sub.task .task-check {
  width: 1.5rem;
  border-radius: 100%;
}

.sub.task > .task-title {
  font-family: var(--main-content-font);
  font-size: 1.5rem;
}

.sub.task .delete > img {
  width: 2rem;
  filter: var(--prior-3-filter);
}

